/* Reset de estilos padrão e definição da fonte principal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Definição de variáveis de cores para fácil ajuste */
:root {
  --bg: #13001f;
  --btn-bg: #2d2043;
  --btn-bg-hover: #382b50;
  --text-color: #fff;
  --link-text: #ae97c6;
  --destaque: #777777;
  --border: 1px solid #1e1e1e;
  --input-bg: #1c1e3a;
  /* ... */
  --icon-color: #b3acbe;
  --placeholder-color: #b5b5b5;
}

/* Estilos para modo claro e escuro */
.light-mode {
  --text-color: #343541;
  --icon-color: #a9a9bc;
  --icon-hover-bg: #f1f1f3;
  --placeholder-color: #9f9f9f;
  --bg: #fff;
  --entrada-chat-bg: #f7f7f8;
}

/* Estilos para ícones com classe material-symbols-rounded */

.material-symbols-rounded {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  height: 3.5rem;
  width: 3.5rem;
  margin: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--bg);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}

button {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
}

.geral {
  display: flex;
  max-height: 75vh;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.sideBar {
  border-right: var(--border);
}

.logo {
  margin-right: 1rem;
}

.brand {
  font-size: 2.5rem;
}

.destaque {
  color: var(--destaque);
}

.upperSide {
  padding: 2rem;
  border-bottom: var(--border);
  height: 70vh;
}

.upperSideTop {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.upperSideBtn {
  margin-bottom: 3rem;
}

.midBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--btn-bg);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem 0;
  position: relative;
}

.midBtn .add {
  position: absolute;
  right: 0px;
  color: var(--link-text);
}

.midBtn .material-symbols-rounded {
  display: flex;
  margin: 0;
}

.midBtn:hover {
  background: var(--btn-bg-hover);
}

.query {
  display: flex;
  align-items: center;
  background: transparent;
  color: var(--query-text);
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1.5rem;
  width: 25rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  border: var(--border);
}

.query img {
  margin-right: 2rem;
  object-fit: cover;
  height: 1.75rem;
}

.lowerSide {
  padding: 2.5rem;
}

.listItems {
  cursor: pointer;
  margin: 0.75rem;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.listItems a {
  display: flex;
  align-items: center;
}

.main {
  position: relative;
  min-height: calc(75vh - 14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
  flex: 1;
  margin-bottom: 0;
}

.menu-container {
  display: none;
}

/* Estilo do contêiner do chat */
.chat-container {
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  height: calc(100vh - 20vh);
}

/* Estilo para texto padrão quando não há mensagens no chat */
.default-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  text-align: center;
  color: var(--text-color);
  height: 50vh;
}

.logo-fundo {
  display: flex;
  position: absolute;
  height: 75vh;
  justify-content: center;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

.logo-fundo h1 {
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 10px; */
  opacity: 0.1;
}

.default-text .destaque {
  color: var(--destaque);
}

.default-text p {
  font-size: 2rem;
  margin-top: 10px;
  line-height: 1.5;
  color: var(--placeholder-color);
  max-width: 75rem;
}

.default-text a {
  margin-top: 10px;
  padding-bottom: 3px;
  display: inline-block;
  transition: all 0.3s ease;
  text-decoration: none;
  color: var(--text-color);
}

.default-text a:hover {
  text-decoration: underline;
}

.footer-dev {
  margin: 1rem 0;
  font-size: 1.3rem;
}

.trichains {
  color: var(--link-text);
}

/* Estilo para a barra de rolagem no chat e áreas de texto */
:where(.chat-container, textarea)::-webkit-scrollbar {
  width: 6px;
}

:where(.chat-container, textarea)::-webkit-scrollbar-track {
  background: var(--entrada-chat-bg);
  border-radius: 25px;
}

:where(.chat-container, textarea)::-webkit-scrollbar-thumb {
  background: var(--icon-color);
  border-radius: 25px;
}

/* Estilos para os chats de entrada e saída */
.chat-container .chat {
  margin: 1rem;
  padding: 2rem 3rem;
  font-size: 2rem;
  display: flex;
  align-items: flex-start;
  text-align: justify;
}

.chat-container .chat.entrada {
  background-color: var(--input-bg);
  border-radius: 0.5rem;
}

/* Estilos para o conteúdo do chat */
.chat .chat-content {
  display: flex;
  max-width: 75rem;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.chat .chat-content button {
  font-size: 1.3rem;
  color: var(--icon-color);
  visibility: hidden;
}

/* Mostra os ícones de controle ao passar o mouse sobre uma mensagem */
.chat:hover .chat-content:not(:has(.typing-animation, .error)) button {
  visibility: visible;
}

/* Estilos para os detalhes da mensagem no chat */
.chat .chat-details {
  display: flex;
  align-items: center;
  height: 10vh;
}

.chat .chat-details img {
  object-fit: cover;
  width: 4rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
}

.chat .chat-details p {
  white-space: pre-wrap;
  font-size: 1.6rem;
  padding: 0 50px 0 25px;
}

/* Estilos para mensagens de erro */
.chat .chat-details p.error {
  color: #dd2222;
}

/* Animação de digitação */
.typing-animation {
  display: inline-flex;
  padding-left: 25px;
}

.typing-animation .typing-dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  opacity: 0.7;
  margin: 0 3px;
  background-color: var(--text-color);
  animation: animateDots 1.5s var(--delay) ease-in-out infinite;
}

@keyframes animateDots {
  0%,
  44% {
    transform: translateY(0px);
  }
  22% {
    opacity: 0.4;
    transform: translateY(-5px);
  }
  44% {
    opacity: 0.2;
  }
}

/* Estilos para o contêiner de digitação */
.typing-container {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 75rem;
}

/* Estilos para a área de digitação */
.typing-textarea {
  padding: 0.5rem;
  background: var(--input-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 2rem;
  max-width: 73rem;
  margin: auto;
}

/* Estilo para links sociais */
.typing-textarea .github-link {
  display: flex;
  align-items: center;
  margin: 1rem;
  transition: all 0.3s ease;
}

.typing-textarea textarea {
  width: 100%;
  outline: none;
  resize: none;
  padding: 1rem;
  overflow-y: auto;
  color: var(--text-color);
  max-height: 12rem;
  font-size: 1.5rem;
  border: none;
  background: transparent;
  font-family: 'Poppins', sans-serif;
}

.typing-textarea textarea::placeholder {
  opacity: 0.5;
  color: var(--placeholder-color);
}

.typing-textarea button {
  visibility: hidden;
}

.icon-text {
  margin-right: 8px; /* ou ajuste conforme necessário para separar o ícone do texto */
  font-size: 14px; /* ajuste conforme necessário */
  color: #333; /* cor do texto */
}

/* Exibe ícone de envio ao preencher a área de texto */
.typing-textarea textarea:valid ~ button {
  visibility: visible;
}

/* Adiciona uma classe para estilos específicos de mobile */
@media screen and (max-width: 1010px) {
  .geral {
    flex-direction: column-reverse;
  }

  .main {
    margin: 0;
  }

  .sideBar {
    display: none;
  }

  .upperSideTop {
    margin: 0;
  }

  .brand {
    font-size: 2rem;
  }

  .menu-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .menu {
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
    margin: 1rem;
  }

  #menu-icon {
    visibility: visible;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--icon-color);
    font-size: 3rem;
    margin: 1rem;
    transition: all 0.3s ease;
  }

  .menu p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 496px) {

  body {
    max-height: 600px;
  }
  .logo-fundo {
    height: 60vh;
  }

  .logo-fundo h1 {
    font-size: 3rem;
  }

  .default-text {
    height: 20vh;
  }

  .default-text h1 {
    font-size: 3rem;
  }

  .default-text p {
    font-size: 1.5rem;
  }

  .chat-container {
    height: 70vh;
    border-radius: 0.5rem;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
  }

  .menu p {
    font-size: 1rem;
  }

  .typing-textarea {
    margin: 0 0.5rem;
    border-radius: 2rem;
    padding: 0.3rem;
  }

  .typing-textarea textarea {
    padding: 0.3rem;
    height: 2.5rem;
    max-height: 10rem;
  }

  .typing-textarea .github-link {
    margin: 0.5rem;
  }

  .typing-textarea button {
    margin: 0;
  }

  .chat .chat-details p {
    font-size: 0.60em;
    padding: 0 10px 0 10px;
  }

  .footer-dev {
    font-size: 1.2rem;
  }

  .footer-dev span {
    display: none;
  }
}
