/* Google fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --text-color: #fff;
  --icon-color: #acacbe;
  --icon-hover-bg: #5b5e71;
  --placeholder-color: #ccc;
  --outgoing-chat-bg: #343541;
  --incoming-chat-bg: #444654;
  --outgoing-chat-border: #343541;
  --incoming-chat-border: #444654;
}

body {
  background: var(--outgoing-chat-bg);
}

.chat-container .chat {
  padding: 25px 10px;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

.chat-container .chat.outgoing {
  background: var(--outgoing-chat-bg);
  border: 1px solid var(--outgoing-chat-border);
}

.chat-container .chat.incoming {
  background: var(--incoming-chat-bg);
  border: 1px solid var(--incoming-chat-border);
}

.chat .chat-content {
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.chat .chat-content span {
  font-size: 1.3rem;
  color: var(--icon-color);
  visibility: hidden;
}

.chat:hover .chat-content span {
  visibility: visible;
}

.chat .chat-details {
  display: flex;
  align-items: center;
}

.chat .chat-details img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.chat .chat-details p {
  white-space: pre-wrap;
  font-size: 1.05rem;
  padding: 0 50px 0 25px;
}

span.material-symbols-rounded {
  user-select: none;
  cursor: pointer;
}

.typing-animation {
  display: inline-flex;
  padding-left: 25px;
}

.typing-animation .typing-dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  opacity: 0.7;
  margin: 0 3px;
  background-color: var(--text-color);
  animation: animateDots 1.5s var(--delay) ease-in-out infinite;
}

@keyframes animateDots {
  0%,
  44% {
    transform: translateY(0px);
  }
  22% {
    opacity: 0.4;
    transform: translateY(-5px);
  }
  44% {
    opacity: 0.2;
  }
}
