/* Google fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --text-color: #fff;
  --icon-color: #acacbe;
  --icon-hover-bg: #5b5e71;
  --placeholder-color: #ccc;
  --saida-chat-bg: #343541;
  --entrada-chat-bg: #444654;
  --saida-chat-border: #343541;
  --entrada-chat-border: #444654;
}
.light-mode {
  --text-color: #343541;
  --icon-color: #a9a9bc;
  --icon-hover-bg: #f1f1f3;
  --placeholder-color: #9f9f9f;
  --saida-chat-bg: #fff;
  --entrada-chat-bg: #f7f7f8;
  --saida-chat-border: #fff;
  --entrada-chat-border: #d9d9e3;
}

body {
  background: var(--saida-chat-bg);
}

/* Estilo do chat container */
.chat-container {
  max-height: 100vh;
  padding-bottom: 150px;
  overflow-y: auto;
}

:where(.chat-container, textarea)::-webkit-scrollbar {
  width: 6px;
}

:where(.chat-container, textarea)::-webkit-scrollbar-track {
  background: var(--entrada-chat-bg);
  border-radius: 25px;
}

:where(.chat-container, textarea)::-webkit-scrollbar-thumb {
  background: var(--icon-color);
  border-radius: 25px;
}

.chat-container .chat {
  padding: 25px 10px;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

.chat-container .chat.saida {
  background: var(--saida-chat-bg);
  border: 1px solid var(--saida-chat-border);
}

.chat-container .chat.entrada {
  background: var(--entrada-chat-bg);
  border: 1px solid var(--entrada-chat-border);
}

.chat .chat-content {
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.chat .chat-content span {
  font-size: 1.3rem;
  color: var(--icon-color);
  visibility: hidden;
}

.chat:hover .chat-content:not(:has(.typing-animation)) span {
  visibility: visible;
}

.chat .chat-details {
  display: flex;
  align-items: center;
}

.chat .chat-details img {
  width: 50px;
  height: 50px;
  align-self: flex-start;
  object-fit: cover;
}

.chat .chat-details p {
  white-space: pre-wrap;
  font-size: 1.05rem;
  padding: 0 50px 0 25px;
}

span.material-symbols-rounded {
  user-select: none;
  cursor: pointer;
}

.typing-animation {
  display: inline-flex;
  padding-left: 25px;
}

.typing-animation .typing-dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  opacity: 0.7;
  margin: 0 3px;
  background-color: var(--text-color);
  animation: animateDots 1.5s var(--delay) ease-in-out infinite;
}

@keyframes animateDots {
  0%,
  44% {
    transform: translateY(0px);
  }
  22% {
    opacity: 0.4;
    transform: translateY(-5px);
  }
  44% {
    opacity: 0.2;
  }
}

/* Estilo para o container de digitação */
.typing-container {
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--saida-chat-bg);
  border: 1px solid var(--entrada-chat-border);
}

.typing-container .typing-content {
  width: 100%;
  max-width: 950px;
  display: flex;
  align-items: flex-end;
}

.typing-content .typing-textarea {
  width: 100%;
  display: flex;
  position: relative;
}

.typing-textarea textarea {
  background: var(--entrada-chat-bg);
  outline: 1px solid var(--entrada-chat-border);
  color: var(--text-color);
  font-size: 1rem;
  padding: 15px 45px 15px 20px;
  border-radius: 4px;
  width: 100%;
  height: 55px;
  border: none;
  resize: none;
}

.typing-textarea textarea::placeholder {
  color: var(--placeholder-color);
}

.typing-textarea span {
  position: absolute;
  right: 0;
  bottom: 0;
  visibility: hidden;
}

.typing-textarea textarea:valid ~ span {
  visibility: visible;
}

.typing-content span {
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
}

.typing-controls {
  display: flex;
}

.typing-controls span {
  margin-left: 7px;
  font-size: 1.4rem;
  border-radius: 4px;
  background: var(--entrada-chat-bg);
  border: 1px solid var(--entrada-chat-border);
}
